.mainPage{
    margin-top: 50px;
}

.titleWrapper{
    display: flex;
}
.title{
    text-align: center;
    flex: 1;
}
.taskGroupWrapper{
    display: flex;
}
.allTasks , .topPriority{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}